body{
    

}
.maincontainer{
    
}
image
{
   position:absolute;
   
}
.maincontainer
{
    width:40%;
    height:375px;
    margin-left:55%;
    background-color:midnightblue;
    border-radius: 30px;
    margin-top: -425px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.background img{
    position: relative;
    width: 100%;
    height: 590px;
}
#timer{
    position: absolute;
    top: 45%;
    left: 60%;
    font-size: 90pt;
}
p{
    color: white;
}
#hms{
    position: absolute;
    top: 85%;
    left: 64%;
}
#notify{
    position: absolute;
    top: 50%;
    left: 60%;
}
.button1{
    position: absolute;
    top: 10%;
    left: 80%;
    background-color: green;
}
.button2{
    position: absolute;
    top: 20%;
    left: 80%;
    background-color: red;
}