body
{
    
}
.first
{
    height:90px;
    width:100%;
    background-color:rgb(69, 58, 101);
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 88%;
    padding-top: -10px;
    display: inline;
}
.heart{
    width: 40px;
    height: 40px;
    position:absolute;
    left:6%;
    top:15px;
}
.title
{
    color: white;
    font-size: x-large;
    position: absolute;
    left: 10%;
    top: 2px;
}
a{
    text-decoration: none;
    color: white;
    display: inline;
    margin-right: 30px;
}
.fields{
    position: absolute;
    top: 22px;
    left: 50%;
    text-align: right;
}
.third {
    height: 200px;
    width: 100%;
    background-color: rgb(0, 255, 33);
    bottom:2px;
    left:0%; 
    right:0%;
    margin-top:400px;
    position:absolute;
    align-items: center;
    
}
.second
{
    width:100%;
    height:58%;
    bottom:166px;
    left:0%;
    right:0%;
    position:absolute;
    align-items:center;
    margin-top: -230px;

}

.image
{
width:100%;
height:100%;
display:flex
}
.column
{
    color: white;
    display: inline;
    margin-right: 30px;
    margin-top:300px;
    align-items: center;
}
#a1
{
    color: white;
    display: inline;  
    margin-right: 30px;
    position:absolute;
    left:21%;
    top:18%;
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
}
#a2
{
    color: white;
    display: inline;
    margin-right: 30px;  
    position:absolute;
    left:46%;
    top:18%;
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
}
#a3
{
    color: white;
    display: inline;
    margin-right: 30px;
    position:absolute;
    left:74%;
    top:18%;
    font-size:xx-large;
    font-family:'Times New Roman', Times, serif;
}
.twitter
{
    width: 40px;
    height: 40px;
    position:absolute;
    left:17%;
    top:20%;
    
}
.fb
{
    width: 40px;
    height: 40px;
    position:absolute;
    left:42%;
    top:20%;
}
.google
{
    width: 40px;
    height: 40px;
    position:absolute;
    left:70%;
    top:20%;
}
#t1{
    color: white;
    display: inline;  
    margin-right: 30px;
    position:absolute;
    left:21%;
    top:31%;
    font-size:medium;
    font-family:'Times New Roman', Times, serif;
    width: 170px;
    height: 20px;

}
#f2{
    color: white;
    display: inline;
    margin-right: 30px;  
    position:absolute;
    left:46%;
    top:31%;
    font-size:medium;
    font-family:'Times New Roman', Times, serif;
    width: 190px;
    height: 20px;
}

#g3{
    color: white;
    display: inline;
    margin-right: 30px;
    position:absolute;
    left:74%;
    top:31%;
    font-size:medium;
    font-family:'Times New Roman', Times, serif;
    width: 170px;
    height: 20px;
}
.text
{
    position: absolute;
    top: 20px;
  left: 35px;
  color: white;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
}