image
{
   position:absolute;
   
}
/*.time
{
    width:40%;
    height:375px;
    margin-left:55%;
    background-color:midnightblue;
    border-radius: 30px;
    margin-top: -425px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}*/
#timer{
    position: absolute;
    top: 39%;
    left: 58%;
    font-size: 90pt;
    margin-top: -100px;
    color:midnightblue;
    font-family:'Times New Roman', Times, serif;
    
    
}
p{
    color:darkblue;
    margin-top: -100px;
}

#hms{
    position: absolute;
    top: 61%;
    left: 68.5%;
}
#notify{
    position: absolute;
    top: 39%;
    left: 58%;
    font-size: 90pt;
    margin-top: -100px;
    color:midnightblue;
    font-family: Arial, Helvetica, sans-serif;
}
.start{
    position: absolute;
    top: 52%;
    left: 68.5%;
    color:white;
    width:70px;
    height:30px;
    background-color: midnightblue;
}
.stop{
    position: absolute;
    top: 52%;
    left: 77%;
    width:70px;
    height:30px;
    color:white;
    background-color: midnightblue;
}
#tt{
    position: absolute;
    top: 39%;
    left: 58%;
    font-size: 90pt;
    margin-top: -100px;
    color:midnightblue;
    font-family:'Times New Roman', Times, serif;
    
    
}