<h1>Here is the form...</h1>

  <div class="form">
    <mat-form-field appearance="outline">
        <mat-label>Enter your FirstName </mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Enter your LastName </mat-label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">Schooling</mat-option>
        <mat-option value="two">UG</mat-option>
        <mat-option value="three">PG</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Enter your DOB</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br><br>
      <button mat-button >Ok</button>
  </div>